<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "nl.flatgroundmedia.hello-world"
    versionCode = "1"
    version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>FlatGround Example</name>

    <description>
      Hello World App
    </description>

    <author href="http://www.flatgroundmedia.nl" email="info@flatgroundmedia.nl">
        FlatGround
    </author>

    <!-- Android prefs -->
    <gap:platform name="android" />

    <!-- We'll include the Barcode plugin as an example -->
    <gap:plugin name="com.cowbell.cordova.geofence" source="plugins.cordova.io" />
</widget>